@charset "utf-8";

/* CSS Document */


body {
    font-family: 'ZCOOL KuaiLe', cursive;
    background-color: rgb(235, 75, 47);
}

div.headertxt h1 {
    text-align: center;
}

div.landing {
    background-image: url(../images/liverpool-seats.jpg);
    width: 100%;
    height: 300px;
    border: black solid 2px;
}
div.landing h1{
    color: white;
    text-align: center;
    left: 60px;
}
div.landing img {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
div.landing button{
    z-index: 1;
    left: 385px;
    top: 450px;
    padding: 15px;
    text-align: center;
    display: block; margin: 0 auto;
}

.greeting {
    padding: 20px;
    text-decoration: underline;
    background-color: goldenrod;
}

.greeting h1 {
    background-color: goldenrod;
}

/*decription*/
div.decription p {
    padding: 20px;
    color: white;
}

/*button = fade-in*/
button {
    font-family: 'ZCOOL KuaiLe', cursive;
    border-radius: 8px;
    background-color: salmon;
    padding: 40px;
    box-shadow: 5px 10px 8px;
}

.btn {
    padding: 20px;
}

button:hover {
    border-radius: 8px;
    background-color: goldenrod;
}

#show1 {
    padding: 20px;
}

.readmore1 {
    display: none;
    padding: 20px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 2px #c3c3c3;
    border-radius: 10px;
}

#show2 {
    padding: 20px;
}

.readmore2 {
    display: none;
    padding: 20px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 2px #c3c3c3;
    border-radius: 10px;
}

#show3 {
    padding: 20px;
}

.readmore3 {
    display: none;
    padding: 20px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 2px #c3c3c3;
    border-radius: 10px;
}

/*slide down*/
.slideDown1 {
    width: 66%;
    margin: auto;
    padding: 20px;
}

#panel1,
#flip1 {
    padding: 20px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 2px #c3c3c3;
    border-radius: 10px;
    box-shadow: 5px 10px 8px;
}

#flip1 {
    background-color: salmon;
}

#flip1:hover {
    border-radius: 8px;
    background-color: goldenrod;
}

#panel1 {
    padding: 20px;
    display: none;
}

.slideDown2 {
    width: 66%;
    margin: auto;
    padding: 20px;
}

#panel2,
#flip2 {
    padding: 20px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 2px #c3c3c3;
    border-radius: 10px;
    box-shadow: 5px 10px 8px;
}

#flip2 {
    background-color: salmon;
}

#flip2:hover {
    border-radius: 8px;
    background-color: goldenrod;
}

#panel2 {
    padding: 20px;
    display: none;
}

.slideDown3 {
    width: 66%;
    margin: auto;
    padding: 20px;
}

#panel3,
#flip3 {
    padding: 20px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 2px #c3c3c3;
    border-radius: 10px;
    box-shadow: 5px 10px 8px;
}

#flip3 {
    background-color: salmon;
}

#flip3:hover {
    border-radius: 8px;
    background-color: goldenrod;
}

#panel3 {
    padding: 20px;
    display: none;
}

/*animation*/
.btn2 {
    padding: 20px;
}

div.anime {
    position: absolute;
    width: 100px;
    z-index: 3;
}

div.anime {
    margin-bottom: 50px;
}

p.goaltext {
    font-size: 5em;
    float: right;
    padding-right: 120px;
    visibility: hidden;
}

img.goal {
    width: 200px;
    padding-left: 300px;
    display: none;
    z-index: -1;

}

/*top-scroll*/
#btntop {
    padding: 20px;
    padding-top: 300px;
    position: absolute;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
}