@charset "utf-8";
/* CSS Document */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom right, red, goldenrod);
}

/*top landing*/
div.headertxt h1 {
    text-align: center;
    color: white;
    background-color: black;
    height: 50px;
}

/* triangles */
div.tri {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 100px 200px;
    border-color: transparent transparent transparent goldenrod;
    float: left;
}
div.tri2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 200px 100px 0;
    border-color: transparent goldenrod transparent transparent;
    float: right;
}

div.landing {
    background-image: url(../images/liverpool-LED.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 960px;
    border-radius: 15px;
    justify-content: center;
}
div.landing h1{
    padding: 10px;
    font-size: 3em;
    color: red;
    text-decoration: underline;
    text-align: center;
    left: 60px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 15px;
}

div.landing button {
    text-size-adjust: 2em;
    cursor: pointer;
    z-index: 1;
    padding: 15px;
    text-align: center;
}

/*greeting according to time of day*/
.greeting {
    padding: 10px;
    text-decoration: underline;
    background-color: goldenrod;
    border-radius: 15px;
    text-align: center;
}

.clock {
    padding-top:20px;
    text-align: center;
    width: 100%;
    color: rgb(24, 190, 141);
    font-size: 60px;
    letter-spacing: 2px;
}

/*display time and decription*/
div.displayDate {
    text-align: center;
    padding: 20px;
    color: white;
}

div.decription p {
    padding: 20px;
    color: white;
    text-indent: 25px;
}

/*Buttons*/
button {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    background-color: salmon;
    padding: 20px;
    box-shadow: 5px 10px 8px;    
    width: 49%;
    font-size: 1em;
}
.btn {
    padding: 20px;
    font-size: 1em;

}
button:hover {
    border-radius: 8px;
    background-color: goldenrod;
    cursor: pointer;
}

/*button = fade-in*/
#show1, #show2, #show3 {
    padding: 20px;
}

.readmore1, .readmore2, .readmore3 {
    display: none;
    padding: 20px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 2px #c3c3c3;
    border-radius: 10px;
}

/*button = fade-in2*/
/* #show12, #show22, #show32 {
    padding: 20px;
    display: inline-block;
    justify-content: right;
}

.readmore12, .readmore22, .readmore32 {
    display: none;
    padding: 20px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 2px #c3c3c3;
    border-radius: 10px;
} */

/*slide down*/
.slideDown1, .slideDown2, .slideDown3 {
    width: 100%;
    margin: auto;
    padding: 20px;
}

#panel1, #panel2, #panel3 {
    padding: 20px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 2px #c3c3c3;
    border-radius: 10px;
    box-shadow: 5px 10px 8px;
    display: none;
}

#flip1  {
    background-color: salmon;
    padding: 20px;
    text-align: center;
    border: solid 2px #c3c3c3;
    border-radius: 10px;
    box-shadow: 5px 10px 8px;
}

#flip2 {
    background-color: salmon;
    padding: 20px;
    text-align: center;
    border: solid 2px #c3c3c3;
    border-radius: 10px;
    box-shadow: 5px 10px 8px;
}

#flip3 {
    background-color: salmon;
    padding: 20px;
    text-align: center;
    border: solid 2px #c3c3c3;
    border-radius: 10px;
    box-shadow: 5px 10px 8px;
}

#flip1:hover, #flip2:hover, #flip3:hover {
    border-radius: 8px;
    background-color: goldenrod;
    cursor: pointer;
}
/* Slideshow containe****************************** */
.slideshowtext {
    padding: 20px;
    padding-top: 30px;
    color: white;
    text-align: center;
    font-size: 1.5em;
    text-decoration: underline;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  box-sizing:border-box
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 25px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

div.fieldfact {
    color: white;
    text-indent: 25px;
}

/*animation*************************************************/
.btn2 {
    padding: 20px;
}

div.anime {
    position: absolute;
    width: 100px;
    z-index: 3;
}

p.goaltext {
    font-size: 5em;
    float: right;
    visibility: hidden;
    font-family: 'Permanent Marker', cursive;
}

img.goal {
    width: 200px;
    padding-left: 300px;
    visibility: hidden;
    z-index: -1;
}

/*top-scroll*/
#btntop {
    padding: 20px;
    padding-top: 300px;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
}
button#myBtn3 {
    width: 225px;
}